header {
  display: flex;
  align-items: center;
}

header > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
header > ul > li {
  margin-top: 20px;
}

header > ul > li > a {
  font-size: 16px;
  color: #232323;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

header > ul > li > a:hover {
  border-radius: 4px;
  background-color: rgba(118, 176, 243, 0.658);
}

.menu-active {
  border-radius: 4px;
  background-color: rgba(118, 176, 243, 0.658);
}
