.trades__table {
  display: flex;
  flex-flow: column nowrap;
  width: 320px;
  min-height: 363px;
  max-height: 363px;
  border: 1px solid #cccccc;
}
.trades__table > thead {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 8px 5px 8px 5px;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  background-color: rgb(217, 222, 236);
}
.trades__table > thead > th {
  flex: 1;
  font-weight: bold;
}

.trades__table th,
.trades__table td {
  width: 33%;
}

.trades__table > tbody {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  padding: 0 5px;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  height: calc(200px - 30px);
  overflow-y: scroll;
}
.trades__table tbody > tr {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  width: 100%;
  min-height: 30px;
}

.trades__table tbody > tr > .price {
  font-weight: 700;
}

.trades__table th,
.trades__table td {
  font-size: 12px;
}
.trades__table td.left,
.trades__table th.left {
  text-align: left;
}
.trades__table td.right,
.trades__table th.right {
  text-align: right;
}

.trades__table > tbody > tr.up > .price {
  color: red;
}

.trades__table > tbody > tr.down > .price {
  color: blue;
}
